.post_items{
  display: flex;
}

.post_item{
  display: flex;
  flex-direction: column;
}

.breadcrumbs{
  white-space: nowrap;
}

article.our-teachers .col-4 .image ul {
  display: flex;
  margin-left: 0;
  transform: translateX(-50%);
}

.flex-control-nav{
  display: flex;
  justify-content: center;
}

article .items{
  display: flex;
  flex-wrap: wrap;
}

.no-results-title{
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  color: #ffd800;
  font-size: 24px;
  line-height: 27px;
}