.post_items{
  display: flex;
}

.post_item{
  display: flex;
  flex-direction: column;
}

.breadcrumbs{
  white-space: nowrap;
}

article.our-teachers .col-4 .image ul {
  display: flex;
  margin-left: 0;
  transform: translateX(-50%);
}
